---
layout: default
---

<h3>Schedule<h3>
<h5>&emsp;&emsp; ——make a list, plan your life.</h5>


<p></p>
<h4><i><u>Schedule 1</u></i></h4>
<ul>
{% for item in site.data.schedule_list1 %}
	{% if item.status == 'done' %}
		<li> {{item.item}}，{{item.content}} &#10004  </li>
	{% elsif item.status == 'doing' %}
		<li> {{item.item}}，{{item.content}} &#926 </li>
	{% else %}
		<li> {{item.item}}，{{item.content}} &#9898 </li>
	{% endif %}
{% endfor %}
</ul>
<p>&#9898: todo / &#926: doing / &#10004: done</p>

<p></p>
<h4><i><u>Schedule 2</u></i></h4>
<ul>
{% for item in site.data.schedule_list2 %}
	{% if item.status == 'done' %}
		<li> {{item.item}}，{{item.content}} &#10004  </li>
	{% elsif item.status == 'doing' %}
		<li> {{item.item}}，{{item.content}} &#926 </li>
	{% else %}
		<li> {{item.item}}，{{item.content}} &#9898 </li>
	{% endif %}
{% endfor %}
</ul>
<p>&#9898: todo / &#926: doing / &#10004: done</p>








