<div class = "header">
	<div class = "header-container col">
		<div class = "header-title">
			<h1>{{ site.title }}</h1>
			<h4>{{ site.tagline }}</h4>
		</div>
		<nav class = "header-nav">
			<a class = "header-nav-item" href = {{site.baseurl}}/contact>Contact</a>
			<a class = "header-nav-item" href = {{site.baseurl}}/list>Schedule</a>
			<a class = "header-nav-item" href = {{site.baseurl}}/archive>Archive</a>
			<a class = "header-nav-item" href = {{site.baseurl}}/index>Home</a>
		</nav>
	</div>
</div>
