<div class = "sidebar">
  <h2>Category</h2>
	<ul>
	  {% for category in site.categories %}
		<li><a href={{site.baseurl}}/category>{{category | first}}</a></li>
	  {% endfor %}
	</ul>
  <h2>Recent Posts</h2>
    <ul>
      {% for post in site.posts limit:site.recent-num %}
        <li><a href={{site.baseurl}}{{post.url}}>{{post.title}}</a></li>
      {% endfor %}
    </ul>
  <h2>Links</h2>
    <ul>
	  {% for link in site.data.links %}
		<li><a href={{link.url}}>{{link.title}}</a></li>
	  {% endfor %}
    </ul>
  {% include google-adsense.html %}
  
</div>
