.content-container {
  padding: 0px 40px 40px 40px;
  font-size: 20px;
  width: 70%;
  float: left;
}


@media only screen and (max-width: 400px){
.content-container{
	width: 100%;
}
} 

.content-container p {
  margin-top: 10px;
}

.content-container img{
 margin-top: 30px;
 width: 100%;
}

.content-title{
  color: #000000;
  line-height: 1em;
  display: block;
  font-family: 'Alegreya', serif;
  margin-top: 1em;
}

.date-undertitle{
  color: #9a9a9a;
  display: block;
  margin-top: 0.5em;
}

.readmore {
  font-weight: 700;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 4em;
}

.data-append{
  color: #9a9a9a;
}


